<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808855238721-ktfa9acq8586nqikbfs5u8lo12lkj1t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808855238721-ktfa9acq8586nqikbfs5u8lo12lkj1t8</string>
	<key>API_KEY</key>
	<string>AIzaSyA76t1FQVeXubjNNTPual0lpo-kwmKFL1w</string>
	<key>GCM_SENDER_ID</key>
	<string>808855238721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ayush.BoxA</string>
	<key>PROJECT_ID</key>
	<string>boxa-34882</string>
	<key>STORAGE_BUCKET</key>
	<string>boxa-34882.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808855238721:ios:a6d296847c3b00fc3b6ec0</string>
</dict>
</plist>